.about {
  display: flex;
  justify-content: center;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
  border-radius: 0 0 30px 30px;

  background-color: $color-special-blue-dark;
}

.about__inner {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  max-width: $page-max-width-mobile;
  padding-top: 32px;
  padding-bottom: 82px;
  padding-left: 24px;
  padding-right: 30px;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 1px;
    left: -39px;

    width: 132px;
    height: 132px;
    border-radius: 20px;

    background-color: $color-special-blue-meduim-dark;
  }
}

.about__title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $color-special-orange;
}

.about__description {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  font-weight: 300;

  &--bold {
    font-weight: 700;
  }
}
