.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 23px;
  border: none;
  border-radius: 25px;

  font-family: inherit;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $color-basic-blue;
  text-transform: uppercase;
  text-decoration: none;

  background: none;
  background-color: $color-basic-yellow;
  cursor: pointer;

  transition: background-color $transitions-duration;

  &:hover {
    background-color: $color-special-yellow-dark;
  }

  &:active {
    color: rgba($color-basic-blue, 0.3);
  }

  &--rectangle {
    justify-content: space-between;
    border-radius: 10px;

    font-size: 18px;
    line-height: 18px;
    text-transform: none;

    &::after {
      content: "";

      width: 0;
      height: 0;
      margin-left: 10px;
      border-width: 6px;
      border-left-width: 10px;
      border-style: solid;
      border-color: $color-special-blue-light;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-style: none;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  &--no-text {
    justify-content: center;

    &::after {
      margin-left: 0;
    }
  }

  &--promo {
    line-height: 20px;
  }
}
