.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 25px;

  font-family: inherit;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $color-basic-blue;
  text-transform: uppercase;
  text-decoration: none;

  background: none;
  background-color: $color-basic-yellow;
  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: $transitions-duration;

  &:hover {
    background-color: $color-special-yellow-dark;
  }

  &:active {
    color: rgba($color-basic-blue, 0.3);

    transition: none;
  }

  &--rectangle {
    justify-content: space-between;
    border-radius: 10px;

    font-size: 18px;
    line-height: 18px;
    text-transform: none;

    &::after {
      content: "";

      width: 0;
      height: 0;
      margin-left: 10px;
      border-width: 6px;
      border-left-width: 10px;
      border-style: solid;
      border-left-color: $color-special-blue-light;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-style: none;

      transition-property: border-left-color;
      transition-duration: $transitions-duration;
    }

    &:active::after {
      border-left-color: rgba($color-special-blue-light, 0.3);

      transition: none;
    }
  }

  &--stroke {
    border: 3px solid $color-special-blue-dark;

    &:hover {
      color: $color-basic-white;

      background-color: $color-special-blue-dark;

      &::after {
        border-left-color: $color-basic-white;
      }
    }

    &:active {
      color: rgba($color-basic-white, 0.3);

      background-color: $color-special-blue-dark;

      &::after {
        border-left-color: rgba($color-basic-white, 0.3);
      }
    }
  }

  &--no-text {
    justify-content: center;

    &::after {
      margin-left: 0;
    }
  }

  &--promo {
    line-height: 20px;
  }

  &--upload {
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;

    background-color: $color-special-grey-dark;

    &:hover {
      background-color: $color-special-grey-darker;
    }

    &:active {
      background-color: $color-special-grey-dark;

      color: rgba($color-basic-blue, 0.3);
    }
  }

  &--countries-filter {
    font-size: 16px;
    line-height: 20px;
    color: $color-special-blue-dark;
    letter-spacing: 0.05em;

    background-color: $color-special-grey-some;

    &::before {
      content: "";

      display: block;
      width: 14px;
      height: 14px;
      margin-right: 10px;

      background-image: url("../img/button/button-close-icon.svg");
      background-repeat: no-repeat;
      background-position: center;

      transition: $transitions-duration;
    }

    &:hover {
      background-color: $color-special-grey-some-dark;
    }

    &:active {
      color: rgba($color-special-blue-dark, 0.3);

      &::before {
        opacity: 0.3;

        transition: none;
      }
    }
  }

  &--companions-filter {
    background-color: $color-basic-white;

    transition-property: background-color, color, box-shadow;
    transition-duration: $transitions-duration;

    &:hover {
      background-color: $color-basic-white;

      box-shadow: 0 3px 6px 0 rgba($color-basic-black, 0.14);
    }

    &:active {
      color: rgba($color-basic-blue, 0.3);

      background-color: $color-special-yellow-very-dark;

      box-shadow: none;
    }
  }
}
