.calendar__month-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 44px;
  margin: 0;
  padding: 0;
  border-top: 1px solid $color-special-grey-most-light;
  border-bottom: 1px solid $color-special-grey-most-light;
}

.calendar__month-button {
  position: relative;

  width: 16px;
  padding: 0;
  border: none;

  background: none;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: 100%;
    height: 100%;

    background-image: url("../img/calendar/calendar-arrow.svg");
    background-repeat: no-repeat;
    background-size: 9px 18px;
    background-position: 0 50%;

    opacity: 0.3;

    transition: opacity $transitions-duration;
    transform: translateY(-50%);
  }

  &:hover {
    &::before {
      opacity: 0.5;
    }
  }

  &:active {
    &::before {
      opacity: 0.1;

      transition: none;
    }
  }

  &--next {
    &::before {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.calendar__month {
  align-self: center;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $color-special-blue-light;
}

.calendar__table {
  width: 100%;
  margin-top: 14px;
  border-collapse: collapse;

  text-align: center;
}

.calendar__day-of-the-week {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 7px;
  padding-bottom: 8px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $color-special-black-light;

  &--weekend {
    color: $color-special-red-medium;
  }
}

.calendar__second-letter {
  display: none;
}

.calendar__day {
  position: relative;

  padding-left: 4px;
  padding-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid transparent;

  font-size: 14px;
  line-height: 18px;
  color: $color-special-blue-light;

  background-color: $color-basic-grey;

  &::after {
    content: "";

    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;

    border: 1px solid $color-special-grey-darkest;

    pointer-events: none;
  }

  &:hover,
  &.focus-visible {
    color: $color-basic-white;

    background-color: $color-special-blue-light;

    outline: none;

    &::before {
      content: "";

      position: absolute;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      z-index: 1;

      border: 2px solid $color-special-red-medium;

      pointer-events: none;
    }
  }

  &--disabled {
    color: rgba($color-special-black-light, 0.3);

    background-color: $color-basic-white;

    &::after {
      border-color: $color-special-grey-most-light;
    }

    &:hover,
    &.focus-visible {
      color: rgba($color-special-black-light, 0.3);

      background-color: $color-basic-white;

      &::before {
        display: none;
      }
    }
  }

  &--active {
    color: $color-basic-white;

    background-color: $color-special-blue-light;
  }
}

.calendar__first-day {
  display: none;
}

.calendar__event {
  display: none;
}
