.companion {
  position: relative;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 260px 10px minmax(14px, min-content) min-content;
  width: 270px;
  border-radius: 10px;

  background-color: $color-basic-white;

  transition: box-shadow $transitions-duration;

  &:hover {
    box-shadow: 0 4px 3px 0 rgba($color-basic-black, 0.16);
  }

  &:hover .companion__photo {
    transform: scale(1.06);
  }
}

.companion__info-wrapper {
  grid-row: 4 / -1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 11px;
  padding-bottom: 21px;
}

.companion__name-wrapper {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.companion__name-link {
  order: 1;

  color: $color-special-blue-light;
  text-decoration: none;
  text-align: center;

  transition: opacity $transitions-duration;

  &:hover,
  &:hover + .companion__status {
    opacity: 0.7;
  }

  &:active,
  &:active + .companion__status {
    opacity: 0.3;

    transition: none;
  }
}

.companion__name {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.companion__status {
  margin: 0;
  margin-right: 10px;

  transition: opacity $transitions-duration;
}

.companion__photo-wrapper {
  position: relative;
  z-index: 0;

  grid-row: 1 / 3;
  grid-column: 1 / -1;
  border-radius: 10px 10px 0 0;

  overflow: hidden;
}

.companion__photo {
  transition: transform $transitions-duration;
}

.companion__level {
  position: absolute;
  top: 17px;
  left: 17px;
  z-index: 1;

  grid-row: 1 / 2;
  grid-column: 1 / -1;
  margin: 0;
}

.companion__countries-wrapper {
  z-index: 1;

  grid-row: 2 / 4;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.companion__countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 255px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.companion__country {
  width: 35px;
  height: 24px;

  &:not(:nth-child(5n - 4)) {
    margin-left: 20px;
  }

  &:nth-child(n + 6) {
    margin-top: 16px;
  }
}

.companion__hashtags {
  margin: 0;
  margin-top: 16px;
  padding: 0;

  line-height: 18px;
  font-weight: 400;
  color: $color-special-black-light;
  text-align: center;
}

.companion__transport {
  margin: 0;
  margin-top: 14px;
}
