.copyright {
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 34px;

  font-weight: 400;
  line-height: 16px;
  color: $color-special-black-light;
  text-decoration: none;

  transition: opacity $transitions-duration;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;

    transition: none;
  }
}

.copyright__picture {
  display: block;
}
