.level {
  --level-size: 60px;
  --level-bar-width: 4px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--level-size);
  height: var(--level-size);
  padding: 0;
  border-radius: 50%;

  overflow: hidden;

  color: $color-basic-white;

  &::before {
    content: "";

    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    z-index: -1;

    border-radius: 50%;

    background-color: rgba($color-basic-black, 0.6);
  }
}

.level__svg {
  position: absolute;
  left: 0;
  top: 0;

  width: inherit;
  height: inherit;
}

.level__bar {
  fill: transparent;
  stroke: $color-special-orange;
  stroke-width: var(--level-bar-width);
  stroke-linecap: round;

  transform: scale(-1, 1) rotate(-93deg);
  transform-origin: var(--level-size) / 2 var(--level-size) / 2;
}

.level__title {
  position: relative;

  order: 1;
  margin-top: 2px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: lowercase;

  &::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 50%;

    height: 1px;
    width: 30px;

    background-color: $color-basic-white;
    opacity: 0.3;

    transform: translateX(-50%);
  }
}

.level__number {
  z-index: 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
