.location {
  display: flex;
  flex-direction: column;
}

.location__address-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 0 0 30px 30px;

  background-color: $color-basic-yellow;
}

.location__address-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: $page-width-mobile;
  max-width: $page-max-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
  padding-top: 31px;
  padding-bottom: 35px;
}


.location__address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 25px;

  font-style: normal;
  font-weight: 700;
  color: $color-special-blue-light;
  text-transform: uppercase;

  &::before {
    content: "";

    flex-shrink: 0;
    width: 45px;
    height: 45px;
    margin-right: 16px;
    border-radius: 50%;

    background-color: $color-special-blue-very-dark;
    background-image: url("../../img/location/location-address.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 21px;
  }
}

.location__route {
  width: 100%;
  min-height: 62px;
  margin-top: 33px;
}

.location__map-wrapper {
  display: flex;
  justify-content: center;
}

.location__map {
  display: block;
  min-width: $page-width-mobile;
  min-height: 330px;
  margin-top: -34px;
  margin-bottom: -34px;
  border: none;

  object-fit: cover;
  object-position: center;
  background-color: $color-special-grey-map;

  &--interactive {
    width: 100%;
  }

  &--static {
    display: none;
  }
}

.no-js {
  .location__map--interactive {
    display: none;
  }

  .location__map--static {
    display: block;
  }
}
