.logo {
  display: flex;
  align-items: center;

  transition: opacity $transitions-duration;

  &::before {
    content: "";

    display: none;
    width: 96px;
    height: 15px;

    background-image: url("#{$img-path}/logo/logo-blue.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:any-link:hover {
    opacity: 0.6;
  }

  &:any-link:active {
    opacity: 0.3;

    transition: none;
  }

  &--open::before {
    display: block;
  }

  &--scroll::before {
    display: block;
  }
}

.no-js .logo::before {
  display: block;
}

.logo__picture {
  &--open {
    display: none;
  }

  &--scroll {
    display: none;
  }
}

.no-js .logo__picture {
  display: none;
}
