.profile {
  display: flex;
  justify-content: center;
}

.profile__inner {
  display: grid;
  grid-template-rows: 142px;
  grid-template-columns: 50% 50%;
  width: 100%;
  max-width: $page-max-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
}

.profile__level-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__level {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.profile__photo-wrapper {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__photo {
  margin-top: 5px;
  border-radius: 50%;
}

.profile__upload {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  width: 100%;
}

.profile__upload-label {
  width: 100%;
  min-height: 40px;
  max-width: 350px;
}

.profile__upload-field.focus-visible + .profile__upload-label {
  @include default-outline(2px);
}

.profile__border {
  display: grid;
  grid-template-rows: minmax(8px, min-content) minmax(9px, min-content) min-content;
  grid-template-columns: minmax(15px, 1fr) min-content minmax(15px, 1fr);

  &::before {
    content: "";

    grid-row: 2 / 4;
    grid-column: 1 / -1;
    border: 1px solid $color-special-grey-darkest;
    border-radius: 10px;

    transition: $transitions-duration;
  }
}

.profile__border-title {
  z-index: 1;

  grid-row: 1 / 3;
  grid-column: 2 / 3;
  padding-left: 17px;
  padding-right: 17px;

  line-height: 18px;
  font-weight: 700;
  color: $color-special-blue-light;
  text-transform: uppercase;
  text-align: center;
  word-break: normal;

  background-color: $color-basic-grey;
}

.profile__hashtags {
  grid-column: 1 / -1;
  margin-top: 24px;

  &:hover::before {
    border-color: $color-special-grey-cloudy;
  }

  &:focus-within::before {
    border-color: $color-basic-blue;

    transition: none;
  }
}

.profile__hashtags-field {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  width: 100%;
  margin-top: -9px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 26px;
  padding-bottom: 27px;
  border: none;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba($color-special-black-light, 0.6);

  background-color: transparent;

  resize: none;

  &:focus {
    color: $color-special-black-light;

    outline: none;
  }
}

.profile__transport-fieldset {
  grid-column: 1 / -1;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  border: none;
}

.profile__transport-inner {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.profile__transport {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 15px;
}
