.promo {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
  padding-top: 18px;
  padding-bottom: 38px;

  background-color: $color-basic-blue;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    height: 278px;

    background-color: $color-special-blue-dark;
  }
}

.promo__tagline {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.promo__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 246px;
}

.promo__review-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.promo__review {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $page-max-width-mobile;
  margin: 0;
  padding: 0;
  padding-left: 25px;
}

.promo__quote {
  max-width: 90%;
  margin: 0;
  margin-bottom: 18px;

  font-weight: 300;
}

.promo__author {
  max-width: 90%;

  font-weight: 700;
  font-style: normal;
}

.promo__plan-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.promo__plan {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $page-max-width-mobile;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $color-basic-blue;

  list-style: none;

  counter-reset: promoSteps;
}

.promo__step {
  $step-height: 62px;
  $step-margin: 15px;
  $step-padding-bottom: 24px;

  display: flex;
  justify-content: space-between;
  min-height: $step-height + $step-margin;
  width: 100%;
  padding-left: 24px;
  padding-right: 21px;
  padding-top: 20px;
  padding-bottom: $step-padding-bottom + $step-margin;
  border-radius: 10px 10px 0 0;

  background-color: $color-special-orange;

  counter-increment: promoSteps;
  user-select: text;

  &::after {
    content: counter(promoSteps);

    color: $color-basic-white;
  }

  &:not(:first-child) {
    margin-top: -$step-margin;
  }

  &:last-child {
    padding-bottom: $step-padding-bottom;
    min-height: $step-height;
    border-radius: 10px;
  }

  &--step-2 {
    background-color: $color-special-orange-light;
  }

  &--step-3 {
    background-color: $color-special-yellow-dark;
  }

  &--step-4 {
    background-color: $color-basic-yellow;
  }
}

.promo__step-text {
  max-width: 80%;
}
