.registration {
  display: flex;
  justify-content: center;
  border-radius: 0 0 30px 30px;

  background-color: $color-special-blue-dark;
}

.registration__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $page-width-mobile;
  max-width: $page-max-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
  padding-top: 70px;
  padding-bottom: 29px;
}

.registration__tagline {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $color-special-orange;
  text-align: center;
}

.registration__text {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;

  font-weight: 300;
  text-align: center;
}

.registration__link {
  color: $color-basic-yellow;

  transition: color $transitions-duration;

  &:hover {
    color: $color-special-orange;
  }

  &:active {
    color: rgba($color-special-orange, 0.3);

    transition: none;
  }
}

.registration__form {
  position: relative;

  margin-top: 30px;
  margin-bottom: 8px;
}

.registration__field {
  width: 100%;
  min-height: 62px;
  padding-left: 25px;
  padding-right: 85px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid $color-basic-white;
  border-radius: 10px;

  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $color-special-blue-dark;

  transition-property: background-color, border-color, color;
  transition-duration: $transitions-duration;

  &::placeholder {
    color: rgba($color-special-black-light, 0.3);

    transition: color $transitions-duration;
  }

  &:hover {
    border-color: $color-basic-grey;

    background-color: $color-basic-grey;
  }

  &:hover::placeholder {
    color: rgba($color-special-black-light, 0.5);
  }

  &:focus {
    color: $color-basic-white;

    background-color: $color-special-blue-dark;

    outline: none;

    transition: none;
  }

  &:focus::placeholder {
    color: rgba($color-basic-white, 0.5);

    transition: none;
  }

  &:invalid {
    color: $color-special-red-bright;
  }
}

.registration__submit {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  width: 60px;
}

.registration__submit-text {
  position: absolute;

  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  overflow: hidden;

  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
}

.registration__contacts-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: min-content;
  margin-top: 18px;
}

.registration__contacts {
  margin: 0;
  min-width: $page-width-mobile - ($page-padding-mobile * 2);
}
