.route {
  --route-gap: 22px;
  --route-remove-size: 21px;
  --route-point-size: 8px;
  --route-flag-wrapper-size: 53px;
  --route-white-fade-size: 52px;
  --route-button-icon-width: 40px;
}

.route__list {
  display: grid;
  row-gap: var(--route-gap);
  margin: 0;
  padding: 0;

  list-style: none;
}

.route__item {
  position: relative;

  display: grid;
  grid-template-columns: 1fr min-content;
  min-height: 42px;

  &::before {
    content: "";

    position: absolute;
    right: calc(var(--route-flag-wrapper-size) - (var(--route-point-size) / 2));
    top: 50%;
    z-index: 1;

    width: var(--route-point-size);
    height: var(--route-point-size);
    border-radius: 50%;

    background-color: $color-special-blue-light;

    transform: translateY(-50%);

    pointer-events: none;
  }

  &:not(:first-child):not(:only-child) {
    &::after {
      content: "";

      position: absolute;
      right: calc(var(--route-flag-wrapper-size) - (8px / 2));
      top: -16px;

      width: 8px;
      height: 10px;

      background-image: url("../img/route/route-next-arrow.svg");
      background-repeat: no-repeat;
      background-size: 8px 11px;
    }
  }

  &--choose {
    &::before {
      border: 1px solid $color-special-grey-darkest;
      background-color: transparent;
    }
  }

  &--open {
    &::before {
      display: none;
    }
  }

  &--add {
    &:not(:only-child) {
      margin-top: var(--route-gap);
    }

    &::before {
      border: 1px solid $color-special-grey-darkest;
      background-color: transparent;
    }
  }
}

.route__button {
  position: relative;

  padding-left: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid $color-special-grey-darkest;
  border-radius: 4px;

  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: $color-special-blue-light;
  text-transform: uppercase;
  text-align: left;
  text-overflow: clip;
  white-space: nowrap;

  background-color: transparent;

  overflow: hidden;

  transition-property: border-color;
  transition-duration: $transitions-duration;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    width: var(--route-white-fade-size);

    background-image: linear-gradient(to left, $color-basic-white 75%, transparent);
  }

  &:hover {
    border-color: $color-special-grey-most-dark;
  }

  &:active {
    border-color: $color-special-grey-most-dark;
  }

  &--select {
    &::after {
      content: "";

      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;

      width: var(--route-button-icon-width);

      background-image: url("../img/route/route-select-arrow.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 12px 16px;
    }

    &:active {
      &::after {
        opacity: 0.7;
      }
    }
  }

  &--choose {
    padding-right: calc(var(--route-flag-wrapper-size) + 5px);

    &::before {
      width: calc(var(--route-white-fade-size) + 26px);
    }
  }

  &--open {
    z-index: 7500;

    padding-right: calc(var(--route-flag-wrapper-size) + 5px);
    border: none;
    border-radius: 4px 4px 0 0;

    color: $color-basic-white;

    background-color: $color-special-blue-light;

    transition: none;

    &::before {
      width: calc(var(--route-white-fade-size) + 26px);

      background-image: linear-gradient(to left, $color-special-blue-light 75%, transparent);
    }

    &::after {
      background-image: url("../img/route/route-select-close.svg");
      background-position: 45% 50%;
      background-size: 9px 10px;

      opacity: 0.3;

      transition-property: opacity;
      transition-duration: $transitions-duration;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:active {
      color: rgba($color-basic-white, 0.7);

      &::after {
        opacity: 0.1;

        transition: none;
      }
    }
  }

  &--add {
    padding-left: 12px;
    padding-right: var(--route-flag-wrapper-size);
    border: none;

    background-color: $color-basic-grey;

    transition-property: background-color;

    &::before {
      display: none;
    }

    &::after {
      content: "";

      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;

      width: var(--route-button-icon-width);

      background-image: url("../img/route/route-add-plus.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 14px 14px;

      opacity: 0.2;
    }

    &:hover {
      background-color: $color-special-grey-dark;

      &::before {
        background-image: linear-gradient(to left, $color-special-grey-dark 75%, transparent);
      }

      &::after {
        opacity: 0.3;
      }
    }

    &:active {
      background-color: $color-special-grey-dark;

      &::after {
        opacity: 0.1;
      }
    }
  }
}

.route__flag-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--route-flag-wrapper-size);
  margin-left: -1px;
  border: 1px solid $color-special-grey-darkest;
  border-radius: 4px;
}

.route__flag-tooltip {
  display: flex;
}

.route__remove {
  position: absolute;
  top: calc(-1 * (var(--route-remove-size) / 2));
  right: calc(-1 * (var(--route-remove-size) / 2));

  width: var(--route-remove-size);
  height: var(--route-remove-size);
  padding: 0;
  border: none;
  border-radius: 50%;

  background-color: $color-basic-grey;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 1px;
    height: 10px;
    border-radius: 1px;

    background-color: $color-special-grey-cloudy-dark;

    transform: translate(-50%, -50%) rotate(45deg);
    transition: $transitions-duration;
  }

  &::after {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;

    width: 1px;
    height: 10px;
    border-radius: 1px;

    background-color: $color-special-grey-cloudy-dark;

    transform: translate(-50%, -50%) rotate(-45deg);
    transition: $transitions-duration;
  }

  &:hover {
    &::before {
      background-color: $color-special-grey-darkest;
    }

    &::after {
      background-color: $color-special-grey-darkest;
    }
  }

  &:active {
    background-color: $color-special-grey-very-light;

    transition: none;

    &::before {
      background-color: $color-special-grey-darkest;
    }

    &::after {
      background-color: $color-special-grey-darkest;
    }
  }

  &--open {
    display: none;
  }
}

.route__select {
  position: absolute;
  top: 100%;
  z-index: 5000;
}
