.select {
  display: none;
  flex-direction: column;
  width: 100%;
  border: 1px solid $color-special-grey-darkest;
  border-top: none;
  border-radius: 0 0 4px 4px;

  background-color: $color-basic-white;

  box-shadow: 0 2px 16px 0 rgba($color-special-grey-lightest, 0.25);

  &--open {
    display: flex;
  }
}

.select__letters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 41px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.select__letter {
  position: relative;
  display: flex;

  &::before {
    content: "";

    position: absolute;
    left: -1px;
    right: 0;
    top: -1px;
    bottom: 0;

    border: 1px solid $color-special-grey-darkest;

    pointer-events: none;
  }

  &:nth-child(5n)::before {
    right: -1px;
  }

  &:hover {
    &::before {
      z-index: 1;

      border-color: $color-special-grey-most-dark;
    }
  }
}

.select__letter-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $color-special-blue-light;
  text-align: center;
  text-transform: uppercase;

  background: none;

  cursor: pointer;

  &:active {
    background-color: $color-basic-grey;
  }

  &--current {
    background-color: $color-basic-grey;
  }
}

.select__countries {
  display: none;
  flex-direction: column;
  margin: 0;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 15px;
  padding-bottom: 15px;

  list-style: none;

  &--current {
    display: flex;
  }
}

.select__country-button {
  padding: 0;
  padding-top:2px;
  padding-bottom: 2px;

  border: none;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-special-black-light;

  background: none;

  transition-property: color;
  transition-duration: $transitions-duration;

  cursor: pointer;

  &:hover {
    color: $color-special-blue-light;
  }

  &:active {
    color: rgba($color-special-blue-light, 0.3);

    transition: none;
  }
}
