.tooltip {
  --tooltip-triangle-size: 8px;

  position: relative;
  z-index: 10000;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 4px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 400;

  background-color: $color-special-blue-darkest;

  &::after {
    content: "";

    position: absolute;
    left: 50%;
    top: calc(-1 * var(--tooltip-triangle-size));

    width: 0;
    height: 0;
    border-width: var(--tooltip-triangle-size);
    border-style: solid;
    border-color: $color-special-blue-darkest;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-style: none;
  }
}
