.transport {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 120px;
  padding: 0;

  list-style: none;

  &--profile {
    justify-content: center;
    width: auto;
  }
}

.transport__item-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 25px;
  border-radius: 50%;

  background-color: $color-basic-white;

  &--profile {
    width: 32px;
    height: 32px;
  }
}

.transport__item {
  position: relative;
  z-index: 5;

  width: 24px;
  height: 25px;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-image: linear-gradient($color-special-blue-light, $color-special-blue-light);
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.15;
  }

  &--checked::before {
    opacity: 1;
  }

  &--profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &::before {
      background-size: 17px 16px;
    }
  }

  &[for] {
    cursor: pointer;
  }
}

.transport__field:checked + .transport__item::before {
  opacity: 1;
}

.transport__field.focus-visible + .transport__item {
  @include default-outline;
}

.transport__tooltip {
  width: 100%;
  height: 100%;
}
