.underlay {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    top: -34px;
    bottom: 100%;
    z-index: -1;

    background-color: $color-basic-grey;
  }

  &--bottom::after {
    top: 100%;
    bottom: -34px;
  }

  &--yellow::after {
    background-color: $color-basic-yellow;
  }

  &--blue::after {
    background-color: $color-special-blue-dark;
  }

  &--metallic::after {
    background-color: $color-special-grey-dark;
  }

  &--dark-metallic::after {
    background-color: $color-special-grey-lightest;
  }

  &--light-metallic::after {
    background-color: $color-special-grey-very-light;
  }

  &--medium-metalic::after {
    background-color: $color-special-grey-most-medium;
  }
}
