$underlay-height: 34px;

.page-main__directions {
  position: relative;
}

.page-main__companions {
  margin-top: -$underlay-height;
  padding-top: $underlay-height;
}

.page-main__new-profile {
  position: relative;
}

.page-main__registration {
  margin-top: -$underlay-height;
  padding-top: $underlay-height;
}
