.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  min-width: $page-width-mobile;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-top: $menu-height-mobile;

  font-family: "Blogger Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: $color-basic-white;
  overflow-wrap: break-word;
  word-break: break-word;

  background-color: $color-basic-grey;
}

.no-js .page__body {
  padding-top: 0;
}

.page__page-footer {
  margin-top: auto;
}
