.page-footer {
  position: relative;

  display: flex;
  justify-content: center;
  border-radius: 30px 30px 0 0;

  background-color: $color-basic-white;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: $page-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
}

.page-footer__logo {
  margin-top: 37px;
}

.page-footer__socials {
  position: relative;

  margin: 0;
  margin-top: 40px;
}

.page-footer__copyright-wrapper {
  position: relative;

  width: 100%;
  margin-top: 49px;
  margin-bottom: 19px;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    top: -13px;

    width: 100%;
    height: 1px;

    background-color: $color-special-grey-semi-light;
  }
}

.page-footer__copyright {
  margin: 0;
}
