.page-main__directions {
  position: relative;
}

.page-main__companions {
  $companions-underlay-height: 34px;

  margin-top: -$companions-underlay-height;
  padding-top: $companions-underlay-height;
}
