.add-plan {
  // Для steps.js
  --step-page-width-tablet: #{$page-width-tablet};
  --step-page-width-mobile-last: #{$page-width-mobile-last};
  --step-page-max-height-mobile: #{$page-max-height-mobile};
  --step-page-max-height-tablet: #{$page-max-height-tablet};

  display: flex;
  justify-content: center;
  padding-bottom: 43px;
  border-radius: 30px 30px 0 0;

  background-color: $color-special-grey-550;

  @media (min-width: $page-width-tablet) {
    padding-bottom: 63px;
  }
}

.add-plan__inner {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $page-max-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
  padding-top: 29px;

  @media (min-width: $page-width-tablet) {
    max-width: $page-width-tablet - ($page-padding-tablet * 2);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 50px;
  }
}

.add-plan__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-right: 80px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $color-special-blue-400;

  @media (min-width: $page-width-tablet) {
    margin-bottom: 59px;
    padding-right: 120px;

    font-size: 36px;
    line-height: 36px;
  }
}

.no-js .add-plan__title {
  padding-right: 0;
}

.add-plan__markers {
  position: absolute;
  right: 43px;
  top: 39px;

  display: flex;
  justify-content: space-between;
  width: 47px;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $page-width-tablet) {
    right: 33px;
    top: 66px;

    width: 76px;
  }
}

.no-js .add-plan__markers {
  display: none;
}

.add-plan__marker {
  display: flex;
  align-items: center;

  font-size: 20px;
  line-height: 24px;
  color: rgba($color-basic-black, 0.6);
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";

    width: 5px;
    height: 5px;
    border-radius: 50%;

    background-color: rgba($color-special-blue-400, 0.3);
  }

  &--current {
    color: $color-basic-black;

    &::before {
      background-color: $color-special-blue-400;
    }
  }

  @media (min-width: $page-width-tablet) {
    &::before {
      width: 6px;
      height: 6px;
    }
  }
}

.add-plan__marker-text {
  display: none;
}

.add-plan__step {
  margin: 0;
}

.no-js .add-plan__step {
  &:not(:first-of-type) {
    margin-top: 10px;
  }

  @media (min-width: $page-width-tablet) {
    &:not(:first-of-type) {
      margin-top: 39px;
    }

    &--step-3 {
      &:not(:first-of-type) {
        margin-top: 51px;
      }
    }
  }
}
