.companions-list__list {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 10px;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $page-width-tablet) {
    row-gap: 40px;
  }
}

.companions-list__show-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.companions-list__show-more {
  position: relative;

  padding-left: 33px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $color-special-blue-400;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 18px;

    background-image: url("#{$img-path}/companions-list/show-more.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;

    transition: $transitions-duration;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;

    transition: none;
  }
}

.companions-list__pagination {
  margin-top: 20px;
}
