.contacts {
  display: block;
  padding: 0;

  list-style: none;
}

.contacts__item {
  display: flex;

  @media (min-width: $page-width-tablet) {
    margin-left: 57px;

    &--registration {
      margin-left: 35px;
    }
  }
}

.contacts__link {
  position: relative;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 45px;

  color: $color-special-blue-dark;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  transition: color $transitions-duration;

  &:hover {
    color: rgba($color-special-blue-dark, 0.6);
  }

  &:active {
    color: rgba($color-special-blue-dark, 0.3);

    transition: none;
  }

  &--registration {
    line-height: 18px;
    color: $color-basic-yellow;

    &:hover {
      color: $color-special-yellow-dark;
    }

    &:active {
      color: rgba($color-basic-yellow, 0.3);
    }
  }

  @media (min-width: $page-width-tablet) {
    font-size: 28px;
    line-height: 28px;
  }
}

.contacts__link-icon-wrapper {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  background-color: $color-special-blue-very-dark;

  @media (min-width: $page-width-tablet) {
    width: 68px;
    height: 68px;
    margin-right: 23px;
  }
}

.contacts__link-icon {
  width: 16px;
  height: 15px;

  color: $color-basic-yellow;

  transition: $transitions-duration;

  &--email {
    width: 18px;
    height: 18px;
  }

  @media (min-width: $page-width-tablet) {
    width: 24px;
    height: 23px;

    &--email {
      width: 28px;
      height: 19px;
    }
  }
}

.contacts__link:hover .contacts__link-icon {
  color: $color-special-yellow-dark;
}

.contacts__link:active .contacts__link-icon {
  color: $color-special-yellow-dark;

  opacity: 0.3;

  transition: none;
}
