.countries-filter {
  display: flex;
  justify-content: center;
  border-radius: 0 0 20px 20px;

  background-color: $color-special-grey-325;
}

.countries-filter__inner {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 26px;
  align-items: start;
  width: 100%;
  max-width: $page-max-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
  padding-top: 21px;
  padding-bottom: 16px;
}

.countries-filter__inner--open,
.no-js .countries-filter__inner {
  padding-bottom: 28px;
}

.countries-filter__title {
  position: relative;

  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin: 0;
  padding: 0;
  padding-left: 27px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: $color-special-blue-500;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: 15px;
    height: 10px;

    background-image: url("../img/countries-filter/countries-filter-title.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 10px;

    transform: translateY(-50%);
  }
}

.no-js .countries-filter__title {
  grid-column: 1 / -1;
}

.countries-filter__toggle {
  position: relative;

  grid-row: 1 / 2;
  grid-column: -2 / -1;
  width: 100%;
  height: 17px;
  padding: 0;
  border: none;

  background: none;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-image: url("../img/countries-filter/countries-filter-open.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 3px;

    transition-property: opacity;
    transition-duration: $transitions-duration;
  }

  &:hover {
    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;

      transition: none;
    }
  }
}

.countries-filter__toggle--open {
  &::before {
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-image: url("../img/countries-filter/countries-filter-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
  }
}

.no-js .countries-filter__toggle {
  display: none;
}

.countries-filter__toggle-text {
  display: none;
}

.countries-filter__continents {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: none;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 5px;
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
  padding: 0;

  list-style: none;
}

.countries-filter__continents--open,
.no-js .countries-filter__continents {
  display: grid;
}

.countries-filter__continent-link {
  line-height: 18px;
  font-weight: 700;
  color: rgba($color-special-blue-500, 0.3);
  text-transform: uppercase;
  text-decoration: none;

  transition-property: color;
  transition-duration: $transitions-duration;

  &:any-link:hover {
    color: rgba($color-special-blue-500, 0.6);
  }

  &:any-link:active {
    color: $color-special-blue-500;

    transition: none;
  }

  &--current {
    color: $color-special-blue-500;
  }
}

.countries-filter__letters {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 41px;
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 22px;
  padding: 0;

  list-style: none;
}

.countries-filter__letters--open {
  display: grid;
}

.no-js .countries-filter__letters {
  display: none;
}

.countries-filter__letter {
  position: relative;

  display: flex;

  &::before {
    content: "";

    position: absolute;
    left: -1px;
    right: 0;
    top: -1px;
    bottom: 0;

    border: 1px solid $color-special-grey-700;

    pointer-events: none;
  }

  &:nth-child(5n)::before {
    right: -1px;
  }

  &:hover {
    &::before {
      z-index: 1;

      border-color: $color-special-grey-850;
    }
  }

  &:active {
    &::before {
      border-color: $color-special-blue-400;
    }
  }

  &--current {
    &::before {
      z-index: 2;

      border-color: $color-special-blue-400;
    }

    &:hover::before {
      border-color: $color-special-blue-400;
    }
  }
}

.countries-filter__letter-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;

  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: $color-special-blue-400;
  text-align: center;
  text-transform: uppercase;

  background: none;
  background-color: $color-basic-white;

  cursor: pointer;

  &.focus-visible {
    @include outline(-2px);
  }

  &:active {
    color: $color-basic-white;

    background-color: $color-special-blue-400;
  }

  &--current {
    color: $color-basic-white;

    background-color: $color-special-blue-400;
  }
}

.no-js .countries-filter__letter-field:focus {
  @include outline(-2px);
}

.countries-filter__countries-all {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  display: none;
  flex-direction: column;
  margin-top: 11px;
  margin-left: 25px;
  margin-right: 25px;
}

.countries-filter__countries-all--open,
.no-js .countries-filter__countries-all {
  display: flex;
}

.countries-filter__countries-wrapper {
  display: none;
  flex-direction: column;
}

.countries-filter__countries-wrapper--current,
.no-js .countries-filter__countries-wrapper {
  display: flex;
}

.countries-filter__countries-letter {
  display: none;
  margin: 0;
  padding: 0;
}

.countries-filter__countries {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.countries-filter__country-link {
  font-weight: 400;
  color: $color-special-grey-900;
  text-decoration: none;

  transition-property: color;
  transition-duration: $transitions-duration;

  &:hover {
    color: $color-special-blue-400;
  }

  &:active {
    color: rgba($color-special-blue-400, 0.3);

    transition: none;
  }
}

.countries-filter__close {
  grid-row: 5 / 6;
  grid-column: 1 / -1;
  display: none;
  min-height: 39px;
  margin-top: 30px;
}

.countries-filter__close--open {
  display: inline-flex;
}

.no-js .countries-filter__close {
  display: none;
}
