.directions {
  display: flex;
  justify-content: center;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
  padding-top: 69px;
  padding-bottom: 34px;
  border-radius: 0 0 30px 30px;

  background-color: $color-basic-grey;

  @media (min-width: $page-width-tablet) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 80px;
    border-radius: 0 0 60px 60px;
  }
}

.directions__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $page-max-width-mobile;

  @media (min-width: $page-width-tablet) {
    position: relative;
    z-index: 0;

    max-width: $page-width-tablet - ($page-padding-tablet * 2);
    padding-left: 9px;

    &::before {
      content: "";

      position: absolute;
      right: 0;
      top: 11px;
      z-index: -1;

      width: 288px;
      height: 574px;
      border-radius: 20px;

      background-image: url("../img/directions/background-directions-tablet.png");
      background-repeat: no-repeat;
      background-size: 288px 574px;
    }
  }
}

.directions__info-wrapper {
  align-self: flex-start;
  padding-left: 24px;
  padding-right: 30px;

  @media (min-width: $page-width-tablet) {
    max-width: 385px;
    padding-left: 25px;
    padding-right: 0;
  }
}

.directions__title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $color-special-orange;

  @media (min-width: $page-width-tablet) {
    font-size: 45px;
    line-height: 45px;
  }
}

.directions__description {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  font-weight: 300;
  color: $color-special-black-light;

  @media (min-width: $page-width-tablet) {
    margin-top: 59px;

    font-size: 28px;
    line-height: 33px;
  }
}

.directions__list {
  position: relative;

  margin: 0;
  margin-top: 61px;
  padding: 0;

  list-style: none;

  @media (min-width: $page-width-tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 106px;
    padding-left: 26px;

    &::after {
      content: "";

      position: absolute;
      left: -9px;
      top: -38px;
      z-index: -1;

      width: 141px;
      height: 141px;
      border-radius: 20px;

      background-color: $color-special-grey-very-very-medium;
    }
  }
}

.directions__direction {
  &:not(:first-child) {
    margin-top: 11px;
  }
}

.directions__show-all-wrapper {
  margin-top: 26px;

  @media (min-width: $page-width-tablet) {
    width: 100%;
    margin-top: 45px;
    padding-left: 26px;
    padding-right: 35px;
  }
}

.directions__show-all {
  width: 270px;
  min-height: 62px;

  @media (min-width: $page-width-tablet) {
    width: 100%;
    min-height: 82px;
  }
}
