.plans {
  display: flex;
  justify-content: center;
  background-color: $color-special-grey-400;
  border-radius: 30px 30px 0 0;
}

.plans__inner {
  width: 100%;
  max-width: $page-max-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
  padding-top: 27px;
  padding-bottom: 30px;
}

.plans__title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $color-special-blue-400;
}

.plans__list {
  margin: 0;
  margin-top: 31px;
  padding: 0;

  list-style: none;

  counter-reset: plansList;
}

.plans__item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 23px;
  padding-bottom: 24px;

  border-radius: 10px;

  background-color: $color-basic-white;

  counter-increment: plansList;

  &::before {
    content: counter(plansList) ".";

    margin-right: 5px;

    line-height: 16px;
    color: $color-special-blue-400;
  }

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.plans__countries {
  margin: 0;
  padding: 0;

  line-height: 16px;
  font-weight: 700;
  color: $color-special-blue-400;
}

.plans__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 21px;
}

.plans__companions-counter {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  color: $color-special-blue-400;
  text-transform: uppercase;
}

.plans__period {
  margin: 0;
  margin-top: 4px;
  padding: 0;

  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  color: $color-special-blue-400;
  text-transform: uppercase;
}

.plans__change {
  margin-top: 24px;

  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: rgba($color-basic-black, 0.3);
  text-transform: uppercase;
  text-decoration: none;

  transition-property: color;
  transition-duration: $transitions-duration;

  &:hover {
    color: rgba($color-basic-black, 0.6);
  }

  &:active {
    color: rgba($color-basic-black, 0.1);

    transition: none;
  }
}
