.step {
  display: none;
  flex-direction: column;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 22px;
  padding-bottom: 11px;
  border: none;
  border-radius: 10px;

  background-color: $color-basic-white;

  &--step-1 {
    padding-bottom: 23px;
  }

  @media (min-width: $page-width-tablet) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 45px;
    padding-bottom: 54px;

    border-radius: 30px;

    &--step-1 {
      padding-bottom: 56px;
    }

    &--step-2 {
      padding-left: 43px;
      padding-right: $page-padding-tablet;
    }
  }
}

.no-js .step,
.step--current {
  display: flex;
}

.step__title {
  float: left;
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $color-special-blue-400;

  @media (min-width: $page-width-tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.step__description {
  margin: 0;
  margin-top: 17px;
  padding: 0;

  font-weight: 400;
  color: $color-special-grey-900;

  @media (min-width: $page-width-tablet) {
    margin-top: 36px;

    font-size: 20px;
    line-height: 24px;
  }
}

.step__step-2-br {
  display: none;

  @media (min-width: $page-width-tablet) {
    display: inline;
  }
}

.step__inner {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @media (min-width: $page-width-tablet) {
    margin-top: 64px;

    &--step-2 {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 33px;
    }
  }
}

.step__options {
  @media (min-width: $page-width-tablet) {
    display: flex;
    flex-direction: column;
  }
}

.step__counter {
  &:not(:first-child) {
    margin-top: 19px;
  }

  @media (min-width: $page-width-tablet) {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      top: -25px;

      height: 1px;

      background-color: $color-special-grey-200;
    }

    &:not(:first-child) {
      margin-top: 50px;
    }

    &--companions {
      order: 1;
    }

    &--duration {
      order: 3;
    }
  }
}

.step__checkbox {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  @media (min-width: $page-width-tablet) {
    order: 2;

    margin-top: 25px;
  }
}

.step__checkbox-label {
  --step-checkbox-size: 26px;

  position: relative;

  display: inline-flex;
  align-items: center;
  min-height: var(--step-checkbox-size);
  padding-left: calc(var(--step-checkbox-size) + 13px);

  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: $color-special-blue-400;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: var(--step-checkbox-size);
    height: var(--step-checkbox-size);
    border: 1px solid $color-special-grey-700;
    border-radius: 4px;

    transition: $transitions-duration;
    transform: translateY(-50%);
  }

  &::after {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    display: none;
    width: var(--step-checkbox-size);
    height: var(--step-checkbox-size);

    background-image: url("../img/checkbox/check-mark.svg");
    background-repeat: no-repeat;
    background-size: 13px 14px;
    background-position: 49% 50%;

    transition: $transitions-duration;
    transform: translateY(-50%);
  }

  &:hover {
    &::before {
      border-color: $color-special-grey-850;
    }
  }

  &:active {
    &::before {
      border-color: transparent;

      background-color: $color-special-grey-325;

      transition: none;
    }

    &::after {
      opacity: 0.3;

      transition: none;
    }
  }

  @media (min-width: $page-width-tablet) {
    --step-checkbox-size: 36px;

    padding-left: calc(var(--step-checkbox-size) + 22px);

    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &::after {
      background-size: 18px 17px;
      background-position: 50% 50%;
    }
  }
}

.step__checkbox-field:checked + .step__checkbox-label::after {
  display: block;
}

.no-js .step__checkbox-field:focus + .step__checkbox-label,
.step__checkbox-field.focus-visible + .step__checkbox-label {
  @include outline(2px);
}

.step__calendar {
  margin-top: 23px;

  @media (min-width: $page-width-tablet) {
    margin-top: 59px;
  }
}

.step__route {
  @media (min-width: $page-width-tablet) {
    width: 100%;
  }
}

.step__next {
  width: 100%;
  min-height: 40px;
  margin-top: 22px;

  &--step-2 {
    margin-top: 25px;
  }

  @media (min-width: $page-width-tablet) {
    width: 284px;
    min-height: 80px;
    margin-top: 47px;

    &--step-2 {
      width: 286px;
      margin-top: 49px;
    }
  }
}

.step__previous {
  align-self: center;
  margin-top: 11px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $color-special-blue-400;
  text-transform: uppercase;
  text-decoration: none;

  transition-property: color;
  transition-duration: $transitions-duration;

  &:hover {
    color: rgba($color-special-blue-400, 0.7);
  }

  &:active {
    color: rgba($color-special-blue-400, 0.3);

    transition: none;
  }

  @media (min-width: $page-width-tablet) {
    position: relative;

    align-self: flex-start;
    max-width: 220px;
    margin-top: 78px;
    padding-left: 37px;

    font-size: 24px;
    line-height: 22px;
    text-transform: none;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      top: 50%;

      width: 0;
      height: 0;
      border-width: 7px;
      border-right-width: 12px;
      border-style: solid;
      border-right-color: $color-special-blue-400;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-style: none;

      transform: translateY(-50%);
      transition-property: border-right-color;
      transition-duration: $transitions-duration;
    }

    &:hover {
      &::before {
        border-right-color: rgba($color-special-blue-400, 0.7);
      }
    }

    &:active {
      &::before {
        border-right-color: rgba($color-special-blue-400, 0.3);

        transition: none;
      }
    }
  }
}

.step__enjoy {
  margin: 0;
}

.step__submit {
  --step-submit-button-extra-size: 5px;

  width: calc(100% + (var(--step-submit-button-extra-size) * 2));
  min-height: 40px;
  margin-left: calc(-1 * var(--step-submit-button-extra-size));
  margin-top: 22px;
}
