.enjoy {
  --enjoy-field-height: 220px;
  --enjoy-label-height: 24px;
  --enjoy-between-margin: 13px;
  --enjoy-short-line-thickness: 2px;
  --enjoy-line-distantion: 14px;
  --enjoy-dot-size: 6px;
  --enjoy-fade-size: 44px;

  position: relative;

  padding: 0;

  list-style: none;

  &::before {
    content: "";

    position: absolute;
    left: calc(-1 * var(--enjoy-line-distantion));
    top: calc(var(--enjoy-label-height) / 2);
    bottom: calc(
      var(--enjoy-field-height) + var(--enjoy-between-margin) +
        ((var(--enjoy-label-height) / 2))
    );

    width: 2px;
    background-color: $color-special-blue-400;
  }

  @media (min-width: $page-width-tablet) {
    --enjoy-field-height: 142px;
    --enjoy-label-height: 47px;
    --enjoy-between-margin: 30px;
    --enjoy-line-distantion: 6px;
    --enjoy-dot-size: 14px;
    --enjoy-dot-distantion: calc(var(--enjoy-line-distantion) - 32px);

    padding-right: 33px;
    padding-left: 5px;

    &::before {
      left: auto;
      right: var(--enjoy-line-distantion);
      top: calc(var(--enjoy-label-height) / 2);
    }
  }

  @media (min-width: $page-width-desktop) {
    --enjoy-between-margin: 25px;
    --enjoy-line-distantion: 224px;
    --enjot-line-offset-top: 3px;

    padding-left: 0;

    &::before {
      top: calc((var(--enjoy-label-height) / 2) - var(--enjot-line-offset-top));
    }
  }
}

.enjoy__item {
  position: relative;

  display: flex;
  flex-direction: column;

  &::before {
    content: "";

    position: absolute;
    left: calc(-1 * (var(--enjoy-dot-size) / 2));
    top: calc((var(--enjoy-label-height) / 2) - (var(--enjoy-dot-size) / 2));

    width: var(--enjoy-dot-size);
    height: var(--enjoy-dot-size);
    border-radius: 50%;

    background-color: $color-special-blue-400;
  }

  &::after {
    content: "";

    position: absolute;
    left: calc(-1 * var(--enjoy-line-distantion));
    right: 100%;
    top: calc(
      (var(--enjoy-label-height) / 2) - (var(--enjoy-short-line-thickness) / 2)
    );

    height: var(--enjoy-short-line-thickness);

    background-color: $color-special-blue-400;
  }

  &:only-of-type::after {
    display: none;
  }

  &:not(:first-child) {
    margin-top: 24px;
  }

  @media (min-width: $page-width-tablet) {
    &::before {
      left: auto;
      right: calc(
        -1 * (var(--enjoy-dot-size) / 2) + var(--enjoy-dot-distantion)
      );
      top: calc((var(--enjoy-label-height) / 2) - (var(--enjoy-dot-size) / 2));
    }

    &::after {
      left: auto;
      right: var(--enjoy-line-distantion);
    }

    &:not(:first-child) {
      margin-top: 42px;
    }
  }

  @media (min-width: $page-width-desktop) {
    &::before {
      top: calc(
        (var(--enjoy-label-height) / 2) - (var(--enjoy-dot-size) / 2) - var(
            --enjot-line-offset-top
          )
      );
    }

    &:not(:first-child) {
      margin-top: 47px;
    }
  }
}

.enjoy__label-wrapper {
  display: grid;
  grid-template-rows: var(--enjoy-label-height);
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-left: 11px;

  @media (min-width: $page-width-tablet) {
    padding-left: 0;
  }

  @media (min-width: $page-width-desktop) {
    padding-right: 81px;
  }
}

.enjoy__label {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  font-size: 18px;
  line-height: 18px;
  color: $color-special-blue-400;
  text-overflow: clip;
  white-space: nowrap;

  overflow: hidden;

  @media (min-width: $page-width-tablet) {
    align-self: start;
    margin-top: 7px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
  }

  @media (min-width: $page-width-desktop) {
    position: relative;

    max-width: 730px;
    margin-top: 3px;

    &::before {
      content: "";

      position: absolute;
      left: calc(100% - var(--enjoy-fade-size));
      right: 0;
      top: 0;
      bottom: 0;

      background-image: linear-gradient(
        to left,
        $color-basic-white 38%,
        transparent
      );
    }
  }
}

.enjoy__flag-wrapper {
  position: relative;

  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;

  &::before {
    content: "";

    position: absolute;
    left: calc(-1 * var(--enjoy-fade-size));
    right: 100%;
    top: 0;
    bottom: 0;

    background-image: linear-gradient(
      to left,
      $color-basic-white 38%,
      transparent
    );
  }

  @media (min-width: $page-width-desktop) {
    &::before {
      display: none;
    }
  }
}

.enjoy__flag-tooltip {
  display: flex;
}

.enjoy__flag {
  display: block;
  width: 35px;
  height: 24px;

  @media (min-width: $page-width-tablet) {
    width: 70px;
    height: 47px;
  }
}

.enjoy__field-wrapper {
  position: relative;

  display: flex;
  margin-top: var(--enjoy-between-margin);

  @media (min-width: $page-width-desktop) {
    width: 730px;
  }
}

.enjoy__field {
  width: 100%;
  height: var(--enjoy-field-height);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid $color-special-grey-700;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $color-special-grey-900;

  transition-property: border-color, color;
  transition-duration: $transitions-duration;

  resize: none;

  &::placeholder {
    color: rgba($color-special-grey-900, 0.3);

    transition-property: color;
    transition-duration: $transitions-duration;

    opacity: 1;
  }

  &:hover {
    border-color: $color-special-grey-850;
  }

  &:hover::placeholder {
    color: rgba($color-special-grey-900, 0.5);
  }

  &:focus {
    border-color: $color-basic-blue;

    color: $color-special-grey-900;

    outline: none;

    transition: none;
  }

  &:focus::placeholder {
    color: rgba($color-special-grey-900, 0.5);

    transition: none;
  }

  &:invalid {
    border-color: rgba($color-special-red-500, 0.4);

    &:hover {
      border-color: rgba($color-special-red-500, 0.6);
    }

    &:focus {
      border-color: $color-special-red-500;
    }
  }

  @media (min-width: $page-width-tablet) {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: $page-width-desktop) {
    padding-left: 24px;
    padding-right: 14px;
    padding-top: 22px;
    padding-bottom: 22px;

    line-height: 20px;
  }
}

.enjoy__required {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;

  display: none;
  max-height: 40%;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 4px 4px;

  color: rgba($color-special-red-700, 0.4);

  background-color: rgba($color-special-red-200, 0.4);

  overflow: auto;

  transition-property: color, background-color;
  transition-duration: $transitions-duration;

  pointer-events: none;

  &:hover {
    background-color: rgba($color-special-red-200, 0.7);
  }

  @media (min-width: $page-width-tablet) {
    font-size: 20px;
    line-height: 23px;
  }
}

.enjoy__field:invalid + .enjoy__required {
  display: block;
}

.enjoy__field:invalid:hover + .enjoy__required {
  background-color: rgba($color-special-red-200, 0.7);
}

.enjoy__field:invalid:focus + .enjoy__required {
  color: $color-special-red-700;

  background-color: $color-special-red-200;

  transition: none;
}
