$price-counter-margin: 22px;

.new-profile {
  --price-picture-size: 100px;

  display: flex;
  justify-content: center;
  border-radius: 0 0 30px 30px;

  background-color: $color-special-grey-250;

  @media (min-width: $page-width-tablet) {
    border-radius: 0 0 60px 60px;

    background-color: $color-basic-grey;
  }

  @media (min-width: $page-width-desktop) {
    --price-picture-size: 198px;
  }
}

.new-profile__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $page-width-mobile;
  max-width: $page-max-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
  padding-top: 21px;
  padding-bottom: 39px;

  @media (min-width: $page-width-tablet) {
    max-width: $page-width-tablet - ($page-padding-tablet * 2);
    padding-left: 0;
    padding-right: 0;
    padding-top: 56px;
    padding-bottom: 63px;
  }

  @media (min-width: $page-width-desktop) {
    max-width: $page-width-desktop - ($page-padding-desktop * 2);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 89px;
    padding-bottom: 165px;
  }
}

.new-profile__title-link {
  display: flex;
  align-items: center;
  min-height: 72px;
  margin-left: 25px;
  margin-right: calc(var(--price-picture-size) + 10px);
  margin-top: 30px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $color-special-orange-500;
  text-decoration: none;

  transition-property: color;
  transition-duration: $transitions-duration;

  &:hover {
    color: rgba($color-special-orange-500, 0.7);
  }

  &:active {
    color: rgba($color-special-orange-500, 0.3);

    transition: none;
  }

  @media (min-width: $page-width-tablet) {
    align-self: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    font-size: 45px;
    line-height: 45px;
  }
}

.new-profile__title {
  margin: 0;
  padding: 0;

  font-size: inherit;
  line-height: inherit;
}

.new-profile__price-list {
  position: relative;

  margin: 0;
  margin-left: 25px;
  margin-top: 44px;
  padding: 0;

  font-weight: 300;
  line-height: 16px;
  color: $color-special-grey-900;

  list-style: none;

  counter-reset: priceItems;

  &::before {
    content: "";

    position: absolute;
    right: 0;
    top: calc(-1 * (var(--price-picture-size) + 30px));

    width: var(--price-picture-size);
    height: var(--price-picture-size);

    background-image: url("#{$img-path}/new-profile/new-profile-price.png");
    background-repeat: no-repeat;
    background-size: var(--price-picture-size) var(--price-picture-size);
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    &::before {
      background-image: url("#{$img-path}/new-profile/new-profile-price@2x.png");
    }
  }

  @media (min-width: $page-width-tablet) {
    z-index: 0;

    margin-left: 0;
    margin-top: 63px;
    margin-right: 36px;

    font-size: 28px;
    line-height: 28px;

    &::before {
      right: 9px;
      top: auto;
      bottom: -115px;
    }

    &::after {
      content: "";

      position: absolute;
      left: calc(100% - 162px);
      right: -36px;
      top: -40px;
      bottom: -41px;
      z-index: -1;

      border-radius: 20px;

      background-color: $color-special-grey-350;
    }
  }

  @media (min-width: $page-width-desktop) {
    margin-right: 275px;
    margin-top: 123px;

    &::before {
      right: calc(-1 * (var(--price-picture-size) + 74px));
      top: 3px;
      bottom: auto;

      background-image: url("#{$img-path}/new-profile/new-profile-price-desktop.png");
    }

    &::after {
      left: calc(100% - 285px);
      right: -161px;
      top: -49px;
      bottom: -47px;
    }

    @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
      &::before {
        background-image: url("#{$img-path}/new-profile/new-profile-price-desktop@2x.png");
      }
    }
  }
}

.new-profile__item {
  --price-counter-size: 34px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  min-height: 66px;
  margin-right: calc(
    var(--price-counter-size) + 10px + #{$page-padding-mobile}
  );
  padding-top: 10px;
  padding-bottom: 13px;
  border-top: 1px solid $color-special-grey-200;

  counter-increment: priceItems;

  &::after {
    content: counter(priceItems);

    position: absolute;
    top: 3px;
    right: calc(-1 * (var(--price-counter-size) + 10px));

    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--price-counter-size);
    height: var(--price-counter-size);
    padding: 5px;
    border-radius: 50%;

    font-weight: 400;
    line-height: 16px;
    color: $color-basic-white;

    background-color: $color-special-orange-500;
  }

  &:last-child {
    border-bottom: 1px solid $color-special-grey-200;
  }

  &--2::after {
    background-color: $color-special-yellow-500;
  }

  &--3::after {
    background-color: $color-basic-yellow;
  }

  @media (min-width: $page-width-tablet) {
    --price-counter-size: 68px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - (var(--price-counter-size) + #{$price-counter-margin}));
    min-height: var(--price-counter-size);
    margin-left: calc(var(--price-counter-size) + #{$price-counter-margin});
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    &::after {
      left: calc((-1 * var(--price-counter-size)) - #{$price-counter-margin});
      top: -2px;

      font-size: 28px;
      line-height: 28px;
    }
  }
}

.new-profile__option {
  @media (min-width: $page-width-tablet) {
    min-width: 300px;
    max-width: 370px;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @media (min-width: $page-width-desktop) {
    max-width: 460px;
  }
}

.new-profile__price {
  margin-top: 6px;

  @media (min-width: $page-width-tablet) {
    flex-shrink: 0;
    width: 150px;
    margin-top: 0;
    padding-top: 12px;
    padding-bottom: 12px;

    text-align: right;
  }

  @media (min-width: $page-width-desktop) {
    width: 210px;
  }
}

.new-profile__show-business-rates-link {
  align-self: center;
  margin-top: 30px;

  line-height: 16px;
  font-weight: 700;
  color: $color-special-blue-300;
  text-decoration: none;
  text-align: center;

  transition-property: color;
  transition-duration: $transitions-duration;

  &:hover {
    color: rgba($color-special-blue-300, 0.7);
  }

  &:active {
    color: rgba($color-special-blue-300, 0.3);

    transition: none;
  }

  @media (min-width: $page-width-tablet) {
    $show-business-rates-icon-size: 68px;

    align-self: flex-start;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: $show-business-rates-icon-size auto;
    align-items: center;
    max-width: 440px;
    margin-top: 29px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;

    &::before {
      content: "";

      grid-row: 1 / 2;
      grid-column: 1 / 2;

      display: block;
      width: $show-business-rates-icon-size;
      height: $show-business-rates-icon-size;
      border-radius: 50%;

      background-color: $color-special-grey-350;
    }

    &::after {
      content: "";

      grid-row: 1 / 2;
      grid-column: 1 / 2;

      display: block;
      width: $show-business-rates-icon-size;
      height: $show-business-rates-icon-size;

      background-image: url("#{$img-path}/new-profile/show-business-rates.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px 22px;

      transition-property: opacity;
      transition-duration: $transitions-duration;
    }

    &:hover {
      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      &::after {
        opacity: 0.3;

        transition: none;
      }
    }
  }

  @media (min-width: $page-width-desktop) {
    max-width: 570px;
  }
}

.new-profile__show-business-rates {
  margin: 0;
  padding: 0;

  @media (min-width: $page-width-tablet) {
    grid-column: 2 / 3;
    padding-left: 21px;
  }
}
