.companion {
  position: relative;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 260px 10px minmax(14px, min-content) min-content;
  width: 270px;
  border-radius: 15px 15px 10px 10px;

  background-color: $color-basic-white;

  transition-property: box-shadow;
  transition-duration: $transitions-duration;

  &:hover {
    box-shadow: 0 4px 9px 0 rgba($color-basic-black, 0.16);
  }

  @media (min-width: $page-width-tablet) {
    grid-template-rows: 273px 12px minmax(12px, min-content) min-content;
    width: 285px;
    border-radius: 25px 25px 20px 20px;
  }
}

.companion__info-wrapper {
  grid-row: 4 / -1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 11px;
  padding-bottom: 21px;

  @media (min-width: $page-width-tablet) {
    padding-top: 17px;
    padding-bottom: 28px;
  }
}

.companion__name-wrapper {
  display: flex;
  align-items: flex-start;
  padding-right: 15px;

  @media (min-width: $page-width-tablet) {
    padding-right: 20px;
  }
}

.companion__name-link {
  order: 1;

  color: $color-special-blue-400;
  text-decoration: none;
  text-align: center;

  transition-property: opacity;
  transition-duration: $transitions-duration;

  &:hover,
  &:hover + .companion__status {
    opacity: 0.7;
  }

  &:active,
  &:active + .companion__status {
    opacity: 0.3;

    transition: none;
  }
}

.companion__name {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  @media (min-width: $page-width-tablet) {
    font-size: 24px;
    line-height: 24px;
  }
}

.companion__status {
  flex-shrink: 0;
  margin: 0;
  margin-top: 9px;
  margin-right: 10px;

  transition-property: opacity;
  transition-duration: $transitions-duration;

  @media (min-width: $page-width-tablet) {
    margin-right: 15px;
  }
}

.companion__photo-wrapper {
  position: relative;
  z-index: 0;

  grid-row: 1 / 3;
  grid-column: 1 / -1;
  border-radius: 10px 10px 0 0;

  overflow: hidden;

  @media (min-width: $page-width-tablet) {
    border-radius: 20px 20px 0 0;
  }
}

.companion__photo {
  display: block;
  width: 270px;
  height: 270px;

  transition-property: transform;
  transition-duration: $transitions-duration;

  object-fit: cover;

  @media (min-width: $page-width-tablet) {
    width: 285px;
    height: 285px;
  }
}

.companion:hover .companion__photo {
  transform: scale(1.06);
}

.companion__level {
  position: absolute;
  left: 17px;
  top: 17px;
  z-index: 1;

  grid-row: 1 / 2;
  grid-column: 1 / -1;
  margin: 0;

  @media (min-width: $page-width-tablet) {
    left: 22px;
    top: 20px;
  }
}

.companion__countries-wrapper {
  z-index: 1;

  grid-row: 2 / 4;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.companion__countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 255px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.companion__country {
  width: 35px;
  height: 24px;

  &:not(:nth-child(5n - 4)) {
    margin-left: 20px;
  }

  &:nth-child(n + 6) {
    margin-top: 16px;
  }
}

.companion__flag {
  display: block;
  width: 35px;
  height: 24px;
}

.companion__hashtags {
  margin: 0;
  margin-top: 16px;
  padding: 0;

  line-height: 18px;
  font-weight: 400;
  color: $color-special-grey-900;
  text-align: center;

  @media (min-width: $page-width-tablet) {
    margin-top: 22px;

    font-size: 20px;
    line-height: 23px;
  }
}

.companion__transport {
  margin: 0;
  margin-top: 14px;

  @media (min-width: $page-width-tablet) {
    margin-top: 24px;
  }
}
