.page-footer {
  position: relative;

  display: flex;
  justify-content: center;
  border-radius: 30px 30px 0 0;

  background-color: $color-basic-white;

  @media (min-width: $page-width-tablet) {
    border-radius: 56px 56px 0 0;
  }
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: $page-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
  padding-top: 37px;
  padding-bottom: 19px;

  @media (min-width: $page-width-tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: $page-padding-tablet;
    padding-right: $page-padding-tablet;
    padding-top: 46px;
    padding-bottom: 32px;
  }
}

.page-footer__logo {
  @media (min-width: $page-width-tablet) {
    flex-shrink: 0;
    margin-right: 40px;
  }
}

.page-footer__socials {
  position: relative;

  margin: 0;
  margin-top: 40px;

  @media (min-width: $page-width-tablet) {
    margin-top: 0;
  }
}

.page-footer__copyright-wrapper {
  position: relative;

  width: 100%;
  margin-top: 49px;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    top: -14px;

    width: 100%;
    height: 1px;

    background-color: $color-special-grey-semi-light;
  }

  @media (min-width: $page-width-tablet) {
    flex-shrink: 0;
    width: 162px;
    margin-left: 40px;
    margin-top: -6px;
    padding-left: 8px;

    &::after {
      display: none;
    }
  }
}

.page-footer__copyright {
  margin: 0;
}
