.page-main__title-wrapper {
  position: relative;
  z-index: 20000;

  display: flex;
  justify-content: center;
  padding-top: 36px;
  border-radius: 0 0 20px 20px;

  background-color: $color-special-blue-600;

  @media (min-width: $page-width-tablet) {
    padding-top: 88px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $page-width-desktop) {
    padding-top: 130px;
  }

  @media (max-height: $page-max-height-mobile) and (max-width: $page-width-mobile-last), (max-height: $page-max-height-tablet) and (min-width: $page-width-tablet) {
    @media (min-width: $page-width-desktop) {
      padding-top: 119px;
    }
  }
}

.no-js .page-main__title-wrapper {
  @media (min-width: $page-width-desktop) {
    padding-top: 118px;
  }
}

.page-main__title-inner {
  width: 100%;
  max-width: $page-max-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;

  @media (min-width: $page-width-tablet) {
    max-width: $page-width-tablet - ($page-padding-tablet * 2);
    padding-left: 35px;
    padding-right: 40px;
  }

  @media (min-width: $page-width-desktop) {
    max-width: $page-width-desktop - ($page-padding-desktop * 2);
    padding-left: 64px;
    padding-right: 500px;
  }
}

.page-main__title {
  position: relative;

  display: inline-block;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;

    height: 5px;
    border-radius: 4px;

    background-color: $color-special-orange-500;
  }

  @media (min-width: $page-width-tablet) {
    padding-bottom: 70px;

    font-size: 60px;
    line-height: 60px;

    &::before {
      bottom: -4px;

      height: 8px;
    }
  }

  @media (min-width: $page-width-desktop) {
    padding-bottom: 71px;
  }
}

.page-main__go-home {
  display: none;
}

.page-main__catalog-wrapper {
  padding-bottom: 46px;
}

.page-main__countries-filter-wrapper {
  position: relative;

  width: 100%;
  min-height: 55px;
}

.page-main__countries-filter-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.no-js .page-main__countries-filter-inner {
  position: static;
}

.page-main__companions-filter-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 21px;
}

.page-main__companions-filter-inner {
  width: 100%;
  max-width: $page-max-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
}

.page-main__companions-list-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.page-main__companions-list-inner {
  width: 100%;
  max-width: $page-max-width-mobile;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;
}
