// Смена боксовой модели

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Изображение никогда не станет больше своего контейнера

img {
  max-width: 100%;
  height: auto;
}

// Доступное скрытие

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
}

// Полифил :focus-visible

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
