// Дефолтный outline при фокусе в Chrome и Firefox

@mixin outline($outline-offset: 0) {
  outline-style: groove;
  outline-color: $color-basic-white;
  outline-width: 2px;
  outline-offset: $outline-offset;
}

// Доступное скрытие

@mixin visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
}

// Отмена доступного скрытия

@mixin visually-unhidden {
  position: static;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
  white-space: normal;
  overflow: visible;
  clip: auto;
  clip-path: none;
}
