$fonts-path: "../fonts";

$color-basic-blue: #161c35;
$color-basic-grey: #edeff6;
$color-basic-white: #ffffff;
$color-basic-yellow: #ffd74b;
$color-special-black-light: #444444;
$color-special-blue-light: #1d2e5b;
$color-special-blue-dark: #192144;
$color-special-blue-very-dark: #121936;
$color-special-white-dark: #cccccc;
$color-special-grey-dark: #dfe3f0;
$color-special-orange: #ff8d30;
$color-special-red: #f47e7e;
$color-special-yellow-dark: #ffbd30;

$page-width-mobile: 320px;

$page-padding-mobile: 25px;

$menu-height-mobile: 73px;
