$fonts-path: "../fonts";

$color-basic-black: #000000;
$color-basic-blue: #161c35;
$color-basic-grey: #edeff6;
$color-basic-white: #ffffff;
$color-basic-yellow: #ffd74b;
$color-special-black-light: #444444;
$color-special-blue-light: #1d2e5b;
$color-special-blue-almost-dark: #132576;
$color-special-blue-dark: #192144;
$color-special-blue-darkest: #101d41;
$color-special-blue-meduim-dark: #141b3b;
$color-special-blue-very-dark: #121936;
$color-special-green: #81e31e;
$color-special-grey-dark: #dfe3f0;
$color-special-grey-light: #f3f4f8;
$color-special-grey-medium: #e1e3e9;
$color-special-grey-very-dark: #cccccc;
$color-special-orange-light: #ffa530;
$color-special-orange: #ff8d30;
$color-special-orange-dark: #f26926;
$color-special-red: #f47e7e;
$color-spacial-red-bright: #ff0000;
$color-special-red-light: #f97676;
$color-special-yellow-dark: #ffbd30;

$page-width-mobile: 320px;
$page-max-width-mobile: 450px;

$page-padding-mobile: 25px;

$menu-height-mobile: 73px;

$transitions-duration: 0.15s;
