$card-photo-size: 70px;

.card {
  --card-padding-left: 20px;
  --card-padding-right: 20px;

  display: grid;
  grid-template-rows: minmax(($card-photo-size - 30px), min-content) 30px repeat(4, min-content);
  grid-template-columns: ($card-photo-size - 20px) 20px 16px 1fr 45px;
  padding-left: var(--card-padding-left);
  padding-right: var(--card-padding-right);
  padding-top: 15px;
  padding-bottom: 23px;
  border-radius: 20px;

  background-color: $color-basic-white;

  transition: box-shadow $transitions-duration;

  &:hover {
    box-shadow: 0 4px 9px 0 rgba($color-basic-black, 0.16);
  }

  &:hover .card__photo {
    transform: scale(1.06);
  }
}

.card__name-link {
  grid-row: 1 / 2;
  grid-column: -3 / -1;
  display: grid;
  grid-template-columns: 1fr 55px;
  grid-template-rows: 1fr;
  margin-left: -2px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $color-special-blue-400;
  text-decoration: none;

  transition-property: color;
  transition-duration: $transitions-duration;

  &:hover {
    color: rgba($color-special-blue-400, 0.6);
  }

  &:active {
    color: rgba($color-special-blue-400, 0.3);

    transition: none;
  }
}

.card__name {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin: 0;
  margin-top: -2px;
  padding: 0;

  font-size: inherit;
  line-height: inherit;
}

.card__status {
  grid-row: 1 / 2;
  grid-column: -1 / -2;
  justify-self: end;
  margin: 0;
  margin-top: 8px;

  transition-property: opacity;
  transition-duration: $transitions-duration;
}

.card__name-link:hover .card__status {
  opacity: 0.6;
}

.card__name-link:active .card__status {
  opacity: 0.3;

  transition: none;
}

.card__hashtags {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  margin: 0;
  margin-top: 12px;
  padding: 0;
  padding-left: 6px;
  padding-right: 50px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: $color-special-grey-900;
}

.card__photo-link {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  display: flex;
  width: $card-photo-size;
  height: $card-photo-size;
  margin-left: -2px;
  border-radius: 50%;

  overflow: hidden;

  &:hover .card__photo {
    opacity: 0.7;
  }

  &:active .card__photo {
    opacity: 0.3;

    transition: none;
  }
}

.card__photo {
  transition-property: transform, opacity;
  transition-duration: $transitions-duration;
}

.card__countries-wrapper {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  margin-top: 11px;
}

.card__countries-title-wrapper {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    left: calc(-1 * var(--card-padding-left));
    right: calc(-1 * var(--card-padding-right));
    top: 50%;

    height: 1px;

    background-color: $color-basic-grey;
  }
}

.card__countries-title {
  position: relative;

  display: inline-flex;
  margin: 0;
  margin-left: -5px;
  padding: 0;
  padding-left: 11px;
  padding-right: 11px;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: $color-special-grey-900;
  text-transform: lowercase;

  background-color: $color-basic-white;
}

.card__countries {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 10px;
  margin: 0;
  margin-left: 5px;
  margin-top: 16px;
  padding: 0;
}

.card__country {
  display: flex;
  align-items: center;
}

.card__flag-wrapper {
  flex-shrink: 0;
  display: flex;
  margin-right: 14px;
}

.card__country-name {
  font-size: 15px;
  line-height: 16px;
  color: $color-special-blue-400;
  text-transform: uppercase;
}

.card__transport-wrapper {
  grid-row: 5 / 6;
  grid-column: 1 / -2;
  margin-top: 10px;

  &--petya {
    margin-top: 15px;
  }

  &--mark {
    margin-top: 10px;
  }

  &--larisa {
    margin-top: 15px;
  }
}

.card__transport-title-wrapper {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    left: calc(-1 * var(--card-padding-left));
    right: 9px;
    top: 50%;

    height: 1px;

    background-color: $color-basic-grey;
  }
}

.card__transport-title {
  position: relative;

  display: inline-flex;
  margin: 0;
  margin-left: -4px;
  padding: 0;
  padding-left: 11px;
  padding-right: 11px;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: $color-special-grey-900;
  text-transform: lowercase;

  background-color: $color-basic-white;
}

.card__transport {
  margin: 0;
  margin-left: 1px;
  margin-top: 12px;
}

.card__level-wrapper {
  grid-row: 5 / 6;
  grid-column: -1 / -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  &--petya {
    margin-top: 15px;
  }

  &--mark {
    margin-top: 10px;
  }

  &--larisa {
    margin-top: 15px;
  }
}

.card__level-title-wrapper {
  position: relative;

  width: 100%;

  text-align: center;

  &::before {
    content: "";

    position: absolute;
    left: calc(100% + 8px);
    right: calc(-1 * var(--card-padding-right));
    top: 50%;

    height: 1px;

    background-color: $color-basic-grey;
  }
}

.card__level-title {
  display: inline-flex;
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: $color-special-grey-900;
  text-transform: lowercase;

  background-color: $color-basic-white;
}

.card__level {
  margin: 0;
  margin-top: 6px;
}

.card__like {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  margin: 0;
  margin-left: -2px;
}

.card__call {
  grid-row: 6 / 7;
  grid-column: 1 / -1;
  min-height: 40px;
  margin-top: 14px;
}
