.contacts-compact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts-compact__item {
  display: block;
  width: 40px;
  height: 40px;
}

.contacts-compact__link {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: $color-special-yellow-500;

  transition-property: background-color;
  transition-duration: $transitions-duration;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-image: url("#{$img-path}/contacts/contacts-call.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;

    pointer-events: none;
  }

  &:hover {
    background-color: $color-special-orange-500;
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &--call {
    background-color: $color-special-orange-500;

    &::before {
      background-position: 50% 53%;
    }

    &:hover {
      background-color: $color-special-orange-600;
    }
  }

  &--email {
    &::before {
      background-image: url("#{$img-path}/contacts/contacts-envelope-closed.svg");
      background-size: 18px 16px;
    }
  }
}
