.counter {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 50px;
  row-gap: 9px;
}

.counter__label {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  line-height: 16px;
  letter-spacing: 0.09em;
  color: $color-special-blue-400;
  text-transform: uppercase;
}

.counter__wrapper {
  position: relative;

  grid-row: 2 / 3;
  grid-column: 1 / 3;
  width: 100%;
}

.counter__button {
  position: absolute;
  top: 0;
  left: 0;

  width: 41px;
  height: 100%;
  border: none;

  background: none;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;

    width: 14px;
    height: 2px;

    background-color: $color-special-grey-650;

    transform: translate(-50%, -50%);
    transition: $transitions-duration;
  }

  &--increase {
    left: auto;
    right: 0;

    &::after {
      content: "";

      position: absolute;
      left: 50%;
      top: 50%;

      width: 2px;
      height: 14px;

      background-color: $color-special-grey-650;

      transform: translate(-50%, -50%);
      transition: $transitions-duration;
    }
  }
}

.counter__wrapper:hover .counter__button {
  &::before {
    background-color: $color-special-grey-850;
  }

  &::after {
    background-color: $color-special-grey-850;
  }

  &:hover {
    &::before {
      background-color: $color-special-grey-800;
    }

    &::after {
      background-color: $color-special-grey-800;
    }
  }

  &:active {
    &::before {
      background-color: $color-special-grey-300;

      transition: none;
    }

    &::after {
      background-color: $color-special-grey-300;

      transition: none;
    }
  }
}

.counter__wrapper:focus-within .counter__button {
  &::before {
    background-color: $color-basic-blue;
  }

  &::after {
    background-color: $color-basic-blue;
  }

  &:hover,
  &.focus-visible {
    &::before {
      background-color: $color-special-grey-800;
    }

    &::after {
      background-color: $color-special-grey-800;
    }
  }

  &:active {
    &::before {
      background-color: $color-special-grey-300;

      transition: none;
    }

    &::after {
      background-color: $color-special-grey-300;

      transition: none;
    }
  }
}

.counter__field {
  // stylelint-disable-next-line
  -moz-appearance: textfield;
  appearance: textfield;

  width: 100%;
  min-height: 43px;
  padding-left: 41px;
  padding-right: 41px;
  border: 1px solid $color-special-grey-700;
  border-radius: 4px;

  font-family: inherit;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  background: none;

  transition-property: border-color;
  transition-duration: $transitions-duration;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    // stylelint-disable-next-line
    -webkit-appearance: none;
    appearance: none;

    margin: 0;
  }
}

.counter__wrapper:hover .counter__field {
  border-color: $color-special-grey-850;
}

.counter__wrapper:focus-within .counter__field {
  border-color: $color-basic-blue;

  outline: none;

  transition: none;
}

.counter__unit {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  line-height: 16px;
  letter-spacing: 0.07em;
  color: rgba($color-special-blue-400, 0.3);
  text-transform: uppercase;
  text-align: right;
}
