.like {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.like__button {
  position: relative;

  flex-shrink: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 50%;

  background: none;
  background-color: $color-special-grey-350;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: $transitions-duration;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;

    background-image: url("#{$img-path}/like/like-heart-empty.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% 40%;

    opacity: 0.3;

    transition-property: opacity;
    transition-duration: $transitions-duration;

    pointer-events: none;
  }

  &:hover {
    background-color: $color-special-grey-325;

    &::before {
      opacity: 0.5;
    }
  }

  &:active {
    background-color: $color-special-grey-325;

    &::before {
      opacity: 0.1;

      transition: none;
    }
  }

  &--liked {
    background-color: $color-special-red-300;

    &::before {
      background-image: url("#{$img-path}/like/like-heart.svg");

      opacity: 1;
    }

    &:hover {
      background-color: $color-special-red-400;

      &::before {
        opacity: 1;
      }
    }

    &:active {
      background-color: $color-special-red-400;

      &::before {
        opacity: 0.3;
      }
    }
  }

  @media (min-width: $page-width-tablet) {
    width: 50px;
    height: 50px;
  }
}

.like__counter {
  margin-left: 7px;
  margin-top: 8px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $color-basic-blue;
  text-transform: uppercase;

  @media (min-width: $page-width-tablet) {
    margin-left: 6px;
    margin-top: 15px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $page-width-desktop) {
    margin-left: 7px;
  }
}
