.logo {
  display: flex;
  align-items: center;

  transition: opacity $transitions-duration;

  &::before {
    content: "";

    display: none;
    width: 96px;
    height: 15px;

    background-image: url("#{$img-path}/logo/logo-blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 96px 15px;
  }

  &:any-link:hover {
    opacity: 0.6;
  }

  &:any-link:active {
    opacity: 0.3;

    transition: none;
  }

  &--open::before {
    display: block;
  }

  &--scroll::before {
    display: block;
  }

  @media (min-width: $page-width-tablet) {
    &::before {
      width: 162px;
      height: 42px;

      background-image: url("#{$img-path}/logo/logo-blue-tablet.png");
      background-size: 162px 42px;
    }
  }
}

.no-js .logo::before {
  display: block;
}

.logo__picture {
  display: block;
  width: 96px;
  height: 15px;

  &--open {
    display: none;
  }

  &--scroll {
    display: none;
  }

  @media (min-width: $page-width-tablet) {
    width: 162px;
    height: 42px;
  }
}

.no-js .logo__picture {
  display: none;
}
