.logo {
  display: flex;
  align-items: center;

  transition: opacity $transitions-duration;

  &::before {
    content: "";

    display: none;
    width: 96px;
    height: 15px;

    background-image: url("#{$img-path}/logo/file-logo-blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 96px 15px;
  }

  &:any-link:hover {
    opacity: 0.6;
  }

  &:any-link:active {
    opacity: 0.3;

    transition: none;
  }

  &--open::before {
    display: block;
  }

  &--scroll::before {
    display: block;
  }

  @media (min-width: $page-width-tablet) {
    &::before {
      width: 162px;
      height: 42px;

      background-image: url("#{$img-path}/logo/file-logo-blue-tablet.png");
      background-size: 162px 42px;
    }
  }

  @media (min-width: $page-width-desktop) {
    &::before {
      width: 196px;
      height: 52px;

      background-image: url("#{$img-path}/logo/file-logo-blue-desktop.png");
      background-size: 196px 52px;
    }

    &--open::before {
      display: none;
    }

    &--scroll::before {
      display: block;
    }
  }

  @media (max-height: $page-max-height-mobile) and (max-width: $page-width-mobile-last), (max-height: $page-max-height-tablet) and (min-width: $page-width-tablet) {
    &::before {
      display: block;

      @media (min-width: $page-width-desktop) {
        display: none;
      }
    }
  }
}

.no-js .logo::before {
  display: block;

  @media (min-width: $page-width-desktop) {
    display: none;
  }
}

.logo__picture {
  display: block;
  width: 96px;
  height: 15px;

  &--open {
    display: none;
  }

  &--scroll {
    display: none;
  }

  @media (min-width: $page-width-tablet) {
    width: 162px;
    height: 42px;
  }

  @media (min-width: $page-width-desktop) {
    width: 196px;
    height: 52px;

    &--open {
      display: block;
    }

    &--scroll {
      display: none;
    }
  }

  @media (max-height: $page-max-height-mobile) and (max-width: $page-width-mobile-last), (max-height: $page-max-height-tablet) and (min-width: $page-width-tablet) {
    display: none;

    @media (min-width: $page-width-desktop) {
      display: block;
    }
  }
}

.no-js .logo__picture {
  display: none;

  @media (min-width: $page-width-desktop) {
    display: block;
  }
}
