.menu-toggle {
  position: relative;

  width: 25px;
  height: 19px;
  border: none;

  background: none;
  cursor: pointer;

  transition-property: opacity;
  transition-duration: $transitions-duration;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;

    transition: none;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    left: 0;

    width: 25px;
    height: 3px;
    border-radius: 6% / 50%;

    background-color: $color-basic-white;

    transition-property: transform, background-color, background-color;
    transition-duration: $transitions-duration;
  }

  &::before {
    top: 4px;
  }

  &::after {
    bottom: 4px;
  }

  &--scroll {
    &::before,
    &::after {
      background-color: $color-special-grey-650;
    }
  }

  &--open {
    &::before,
    &::after {
      height: 2px;

      background-color: $color-special-grey-650;
    }

    &::before {
      top: 9px;

      transform: rotate(-45deg);
    }

    &::after {
      bottom: 8px;

      transform: rotate(45deg);
    }
  }

  @media (max-height: $page-max-height-mobile) and (max-width: $page-width-mobile-last),
    (max-height: $page-max-height-tablet) and (min-width: $page-width-tablet) {
    display: none;
  }
}

.no-js .menu-toggle {
  display: none;
}
