.site-nav {
  display: block;

  @media (min-width: $page-width-tablet) {
    display: flex;
    justify-content: center;
  }
}

.site-nav__list {
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;

  @media (min-width: $page-width-tablet) {
    width: 100%;
    max-width: $page-width-tablet - ($page-padding-tablet * 2);

    text-align: left;
  }
}

.site-nav__item {
  @media (min-width: $page-width-tablet) {
    margin-left: 57px;
  }
}

.site-nav__link {
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-special-blue-dark;

  transition: color $transitions-duration;

  &:any-link:hover {
    color: rgba($color-special-blue-dark, 0.6);
  }

  &:any-link:active {
    color: rgba($color-special-blue-dark, 0.3);

    transition: none;
  }

  @media (min-width: $page-width-tablet) {
    font-size: 60px;
    line-height: 71px;
  }
}
