.status {
  display: block;
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 50%;

  &--offline {
    background-color: $color-special-red-light;
  }

  &--online {
    background-color: $color-special-green;
  }

  @media (min-width: $page-width-tablet) {
    width: 8px;
    height: 8px;
  }
}
