.transport {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 124px;
  padding: 0;

  list-style: none;

  &--profile {
    justify-content: center;
    width: auto;
  }

  &--companions-filter {
    justify-content: flex-start;
    width: auto;
  }

  &--card {
    justify-content: flex-start;
    width: auto;
  }
}

.transport__item-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 25px;
  border-radius: 50%;

  background-color: $color-basic-white;

  &--profile {
    width: 32px;
    height: 32px;

    &:hover {
      box-shadow: 0 2px 6px 0 rgba($color-basic-blue, 0.17);
    }

    &:active {
      box-shadow: none;

      background-color: $color-special-grey-very-light;
    }
  }

  &--companions-filter {
    width: 32px;
    height: 32px;

    &:not(:first-child) {
      margin-left: 1px;
    }

    &:hover {
      box-shadow: 0 2px 6px 0 rgba($color-basic-blue, 0.17);
    }

    &:active {
      box-shadow: none;

      background-color: $color-special-yellow-very-dark;
    }
  }

  &--card {
    width: 32px;
    height: 32px;

    background-color: $color-basic-grey;

    &:not(:first-child) {
      margin-left: 1px;
    }
  }
}

.transport__item {
  position: relative;
  z-index: 5;

  width: 24px;
  height: 25px;

  &--profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &--companions-filter {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &--card {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &[for] {
    cursor: pointer;
  }
}

.no-js .transport__field:focus + .transport__item,
.transport__field.focus-visible + .transport__item {
  @include default-outline;
}

.transport__icon {
  --transport-icon-width: 21px;
  --transport-icon-height: 21px;

  position: absolute;
  left: calc(50% - (var(--transport-icon-width) / 2));
  top: calc(50% - (var(--transport-icon-height) / 2));

  width: var(--transport-icon-width);
  height: var(--transport-icon-height);

  color: $color-special-blue-darkest;

  opacity: 0.15;

  &--car {
    --transport-icon-width: 17px;
    --transport-icon-height: 19px;
  }

  &--bmx {
    --transport-icon-width: 21px;
    --transport-icon-height: 18px;
  }

  &--walk {
    --transport-icon-width: 18px;
    --transport-icon-height: 19px;
  }

  &--profile {
    color: $color-special-grey-some-dark;

    opacity: 1;
  }

  &--profile.transport__icon--plane {
    --transport-icon-width: 17px;
    --transport-icon-height: 16px;
  }

  &--profile.transport__icon--car {
    --transport-icon-width: 17px;
    --transport-icon-height: 16px;
  }

  &--profile.transport__icon--bmx {
    --transport-icon-width: 15px;
    --transport-icon-height: 12px;
  }

  &--profile.transport__icon--walk {
    --transport-icon-width: 14px;
    --transport-icon-height: 14px;
  }

  &--companions-filter {
    color: $color-special-grey-some-dark;

    opacity: 1;
  }

  &--companions-filter.transport__icon--plane {
    --transport-icon-width: 17px;
    --transport-icon-height: 16px;
  }

  &--companions-filter.transport__icon--car {
    --transport-icon-width: 17px;
    --transport-icon-height: 16px;
  }

  &--companions-filter.transport__icon--bmx {
    --transport-icon-width: 15px;
    --transport-icon-height: 12px;
  }

  &--companions-filter.transport__icon--walk {
    --transport-icon-width: 14px;
    --transport-icon-height: 14px;
  }

  &--card {
    color: $color-special-blue-light;
  }

  &--card.transport__icon--plane {
    --transport-icon-width: 16px;
    --transport-icon-height: 14px;
  }

  &--card.transport__icon--car {
    --transport-icon-width: 14px;
    --transport-icon-height: 16px;
  }

  &--card.transport__icon--bmx {
    --transport-icon-width: 14px;
    --transport-icon-height: 11px;
  }

  &--card.transport__icon--walk {
    --transport-icon-width: 13px;
    --transport-icon-height: 13px;
  }
}

.transport__item--checked .transport__icon,
.transport__field:checked + .transport__item .transport__icon {
  opacity: 1;
}

// --profile ↓↓↓

.transport__item--profile:hover .transport__icon {
  color: $color-special-grey-some-very-dark;
}

.transport__item--profile:active .transport__icon {
  color: $color-special-blue-light;

  opacity: 0.1;
}

.transport__field:checked + .transport__item--profile .transport__icon {
  color: $color-special-blue-light;
}

.transport__field:checked + .transport__item--profile:hover .transport__icon {
  color: $color-special-blue-light;

  opacity: 0.7;
}

.transport__field:checked + .transport__item--profile:active .transport__icon {
  color: $color-special-blue-light;

  opacity: 0.3;
}

// ---

// --companions-filter ↓↓↓

.transport__item--companions-filter:hover .transport__icon {
  color: $color-special-grey-some-very-dark;
}

.transport__item--companions-filter:active .transport__icon {
  color: $color-special-blue-light;

  opacity: 0.1;
}

.transport__field:checked + .transport__item--companions-filter .transport__icon {
  color: $color-special-blue-light;
}

.transport__field:checked + .transport__item--companions-filter:hover .transport__icon {
  color: $color-special-blue-light;

  opacity: 0.7;
}

.transport__field:checked + .transport__item--companions-filter:active .transport__icon {
  color: $color-special-blue-light;

  opacity: 0.3;
}

// ---

.transport__tooltip {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
