.user-nav {
  display: block;
  text-align: center;

  @media (min-width: $page-width-tablet) {
    text-align: right;
  }
}

.user-nav__link {
  width: 270px;
  min-height: 50px;

  &--promo {
    width: 190px;
    min-height: 40px;
  }

  @media (min-width: $page-width-tablet) {
    width: auto;
    min-width: 188px;
    max-width: 220px;
  }
}
